# .NET
bin/
obj/

.github/copilot-instructions.md

# Node
node_modules/
dist/

# Angular
.angular/

# VS
.vs/
*.user
*.suo

# VSCODE
**/.vscode/mcp.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# DB
*.db
*.db-shm
*.db-wal